server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/achrafbouziane/config-repo-crm.git
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}

          default-label: main
          clone-on-start: true
          force-pull: true
logging:
  level:
    org.springframework.cloud.config.server: debug
    org.eclipse.jgit: debug